* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  background-color: grey;
}

.azul {
  background-color: aqua;
  
}
.chico{
  height: 150px;
  margin: 10px 20px 20px 20px;
  width: auto; 
}
.grande{
  height: 300px;
  margin: 20px 20px 20px 20px;
  width: auto; 
}
.container{
  height: 300px;
  margin: 20px 20px 20px 20px;
  width: auto;
  overflow: hidden;
  }
.mediano{
  background-color:aqua;
  margin: 20px 20px 20px 30px;
  padding: 300px 1000px;
  float:left;

  
 }
