.rojo {
    background-color: red;
}

.padre {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hijo {
    width: 30vw;
    height: 120px;
    margin-right: 20px;
    position: ablute;
}

.hija {

    width: 70vw;
    height: 120px;
    margin-bottom: 20px;

}

.padre1 {
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.primo {
    width: 30vw;
    height: 120px;
    margin-right: 20px;
}

.prima {
    width: 70vw;
    height: 120px;

}

.blanco {
    background-color: aliceblue;
       /* margin right: ; 100vw; */
    /* position: absolute; */
    
    

}
.margin-derecho{
    margin-right:50px;
    position: absolute;
    width: 10vw;
    height: 120px;
   

}
/* .margin-izquierdo{ */
    margin-left: 10vw;
    width: 30vw;
    height: 120px;
    margin-right: 20px;
}