.rojo {
    background-color: red;
}

.padre {
    background-color: blue;
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    /* position: absolute; */
    height: 550px;
}

.blanco {
    background-color: aliceblue;
}   

.derecho {
    width: 45vw;
    height: 450px;
    /* margin-right: 20px; */
}


.hijo {
    width: 40vw;
    height: 350px;
    position: absolute;
}
.izquierdo {
    width: 45vw;
    height: 450px;
    /* background-color: aliceblue; */
    /* margin-left: 20px; */
    /* position: */
}

.hija{
width:40vw;
height: 350px;
position: absolute; right: 20px;
}
