.rojo {
    background-color: red;
}

.padre {
    background-color: blue;
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    /* position: absolute; */
    height: 555px;
    
}

.blanco {
    background-color: aliceblue;
}   

.derecho {
    width: 30vw;
    height: 450px;
    /* margin-right: 20px; */
}


.hijo {
    width: 28vw;
    height: 350px;
    position: absolute;
}
.izquierdo {
    width: 67vw;
    height: 450px;
    /* background-color: aliceblue; */
    /* margin-left: 20px; */
    /* position: */
}

.hija{
width:65vw;
height: 350px;
position: absolute; right: 20px;
}

.padre1{
    background-color: blue;
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
align-items: flex-end;

}

.derecho1{
    width: 30vw;
    height: 450px;
position: relative;bottom: 0px;
}



.hijo1{
    width: 28vw;
    height: 350px;
    position: absolute; 
    
}
